.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 20px;
  text-align: center;
}

.label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  text-align: center;
}

.input-field,
.select-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  font-size: 14px;
  color: #333;
}

.input-field:focus,
.select-field:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

.submit-section {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.3); /* Darker border color */
  border-radius: 50%;
  border-top-color: #000000; /* Darker top border color */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.increment-button,
.decrement-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-right: 5px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .select-field {
    /* Adjust styles for smaller screens */
    width: 100%; /* Make the dropdown width 100% for smaller screens */
    /* Add any other necessary styles to make it fit and look good on smaller screens */
  }
}