* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app-main {
  background: #ffffff;
  padding: 1rem; /* Decreased padding for smaller screens */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  width: 100%;
  animation: fade-in 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex: 1;
  max-width: 100%;
  margin-bottom: 3rem; /* Add margin to the bottom of the container */
}

.fade-animation {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .app-main {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: stretch; /* Stretch items to full width */
    overflow-y: auto; /* Allow vertical scrolling */
    max-height: calc(100vh - 5rem - 2rem); /* Adjust as needed */
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 12px; /* Change to your desired font size, e.g., 12px */
  }
}


.wider-leaderboard-user {
  min-width: 350px;
}

.LeaderboardLoading {
  text-align: center;
  color: black;
  position: relative;
  height: 100px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(
    100vh - 70px
  ); /* Adjust as needed (subtract header height) */
}

.LeaderboardLoading::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  animation: spin 1s linear infinite;
}

.Error {
  text-align: center;
  color: #ffffff;
  background-color: #ff6b6b; /* Softer red for a modern look */
  padding: 1.5rem;
  border-radius: 8px;
  margin-top: 10rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
  max-width: 400px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  animation: fadeInDown 0.5s ease-in-out; /* New animation */
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Add these styles for button container */
.button-container {
  margin-top: 1rem; /* Adjust margin as needed */
  display: flex;
  justify-content: center;
  gap: 1rem; /* Adjust the spacing between buttons as needed */
  margin-bottom: 0rem; /* Add a bit of space below the buttons */
}

/* Apply styles for buttons */
.toggleLeaderboardButton {
  /* Copy the styles from App.module.css */
  background: linear-gradient(to right, #d9822b, #f2a742);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  outline: none;
  /* Remove or adjust margin-bottom since it's in the button-container now */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggleLeaderboardButton:hover {
  /* Copy the styles from App.module.css */
  background: linear-gradient(to right, #e08836, #f2b53d);
  transform: scale(1.15);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Add these styles for the Leaderboard */
.leaderboard-container {
  /* Add margin to the top of the Leaderboard to create space */
  margin-top: 1rem;

  @media (max-width: 768px) {
    /* Adjust the margin for smaller screens */
    margin-top: 0.5rem; /* Reduce the margin to create more space */
  }
}

/* Add these styles for the Logout button container */
.logoutButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Add space above the Logout button */

  @media (max-width: 768px) {
    /* Adjust the margin for smaller screens */
    margin-top: 0.5rem; /* Reduce the margin to create more space */
  }
}

